/* PAGE PROFIL */
.profil-container {
    width: 60%;
    margin: 40px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profil-photo {
    text-align: center;
}

.profil-photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #007bff;
}

.edit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.profil-info p {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
